[Desktop Entry]
Type=Application
Name=JHenTai
Comment=A cross-platform app made for e-hentai & exhentai by Flutter.
Exec=jhentai
Icon=top.jtmonster.jhentai
Categories=Network;Graphics
Terminal=false